/****************************************TEXT STYLING********************************************/

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
 
#typedtext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    position: relative;
    bottom: 280px;
    padding-left: 660px;
   
}
 
.btn{
   font-size: 25px;
   word-spacing: 0px;
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0);
   border: none;
   word-spacing: 100px;
}




/****************************************IMAGE STYLING********************************************/

img{
    position: relative;
    padding-left: 300px;
    padding-top: 20px;
}



