/****************************************Image styling*************************************************************/

img {
    display: block;
    height: auto;
    width: 110%;
    height: 110%;
  }